/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.sharing-menu {
  position: relative;
  display: inline-block;
  z-index: 100;
  font-size: 11px;
  font-weight: bold;
  color: #4d4d4d;
}
.sharing-menu:hover,
.sharing-menu:active {
  border-color: #8C8C8C;
}
.sharing-menu .label-container,
.sharing-menu .icon-container {
  cursor: pointer;
}
.sharing-menu .label-container {
  display: none;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 27px;
}
.sharing-menu .label {
  font-family: helvetica, arial, sans-serif;
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 5px 7px 15px;
}
.sharing-menu .label-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-width: 5px 0 0 0;
  border-style: solid;
  border-color: transparent;
  padding-right: 4px;
  vertical-align: top;
}
.sharing-menu .icon-container {
  width: 16px;
  height: 16px;
}
.sharing-menu .menu-bar {
  background: white;
  padding: 7px 0;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px #cccccc;
  -moz-box-shadow: 0 2px 4px #cccccc;
  box-shadow: 0 2px 4px #cccccc;
  font-weight: bold;
  font-size: 11px;
  color: #08c;
  position: absolute;
  display: none;
}
.sharing-menu .menu-bar-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.sharing-menu .menu-bar-label {
  font-family: helvetica, arial, sans-serif;
  display: inline-block;
}
.sharing-menu .menuBarDivLabel,
.sharing-menu .menuBarDivIcon {
  vertical-align: middle;
}
.sharing-menu .menu-bar-div {
  height: 16px;
  padding: 3px 10px;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sharing-menu .selected {
  background-color: #ebebeb;
}
